/* common   */

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #469BFF;
    --g1: #F5F5F5;
    --g2: #d9d9d9;
    --g3: #bebebe;
    --g3: #5E5E5E;

    --black: #434343;
    --white: #fff;

    --header: 24px;
    --t2: 18px;
    --t3: 16px;
    --t4: 14px;
    --btn: 20px;
    --bold: 800;

}

body {
    color: #434343;
}


.container {
    width: 730px;
    margin: 0 auto;
}


.sdw {
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

/* font */

body {
    background-color: #dddddd;
    width: 834px;
    height: 1194px;
    font-size: 16px;
    color: #434343;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}


html {
    font-family: S-CoreDream;
    color: #434343;
    font-size: 24px;
    font-style: normal;
    font-weight: 0;
    line-height: 22px;

}


/* spacing */


/* font */

.bold {
    font-weight: 700;
}


/* footer */


.gray-btn {
    width: 180px;
    height: 62px;
    border-radius: 10px;
    background: #E2E2E2;
    color: #BABABA;
    text-align: center;
    justify-content: center;
}

.blue-btn {
    width: 180px;
    height: 62px;
    border-radius: 10px;
    background: #469BFF;
    color: #FFFFFF;
    text-align: center;

}

.click-text {
    color: #469BFF;
    font-weight: 600;
}

.select {
    border-radius: 10px;
    border: 1px solid #469BFF;
    background: #E6F1FF;
}


.select-box1 {
    border-radius: 10px;
    border: 1px solid #469BFF;
    background: #E6F1FF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);

}


.box {
    background: #ffffff;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
}

.select-box {
    border-radius: 10px;
    border: 1px solid #469BFF;
    background: #E6F1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    position: relative;

    &>div {
        background-image: url('/img/check-circle.svg');
        background-size: 20px;
        position: absolute;
        right: -10px;
        top: -10px;
        background-repeat: no-repeat;
    }
}


.x-box {
    background: #ffffff;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    position: relative;


    &>div {
        background-image: url('/img/x-circle.svg');
        background-size: 20px;
        position: absolute;
        right: -10px;
        top: -10px;
        background-repeat: no-repeat;
    }

}

.x-box-check {
    width: 160px;
    height: 130px;

    background: #ffffff;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    position: relative;


    &>div {
        background-image: url('/img/x-circle.svg');
        background-size: 20px;
        position: absolute;
        right: -10px;
        top: -10px;
        background-repeat: no-repeat;
    }

}




.x-box2 {
    background: #FFEBE6;
    border: 1px solid #FF8946;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    position: relative;


    &>div {
        background-image: url('/img/x-circle2.svg');
        background-size: 20px;
        position: absolute;
        right: -10px;
        top: -10px;
        background-repeat: no-repeat;
    }

}


.plus-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    border: 1px dashed #31A9FF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    color: #8D8D8D;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    position: relative;


    & div {
        width: 20px;
        height: 20px;
        background-image: url('/img/exit-btn.svg');
        background-size: 20px;
        position: absolute;
        background-repeat: no-repeat;
    }

}

.footer-box {
    border-radius: 10px;
    background: #EEE;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-box2 {
    border-radius: 10px;
    background: #469BFF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {

    border-radius: 50px;
    border: 1px solid #DCDCDC;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-select {
    border-radius: 10px;
    border: 1px solid #469BFF;
    background: #E6F1FF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.04);
}

.prod-item {
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background: #F5F5F5;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.04);
}