/* common   */

@font-face {
    font-family: 'S-CoreDream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #469BFF;
    --g1: #F5F5F5;
    --g2: #d9d9d9;
    --g3: #bebebe;
    --g3: #5E5E5E;

    --black: #434343;
    --white: #fff;

    --header: 24px;
    --t2: 18px;
    --t3: 16px;
    --t4: 14px;
    --btn: 20px;
    --bold: 1000;

}

body {
    color: #434343;
}


.container {
    width: 730px;
    margin: 0 auto;
}

/* font */

body {
    background-color: #dddddd;
    width: 834px;
    height: 1194px;
    font-size: 16px;
    color: #434343;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}


html {
    font-family: S-CoreDream;
    color: #434343;
    font-size: 24px;
    font-style: normal;
    font-weight: 0;
    line-height: 22px;

}


/* spacing */


/* font */

.bold {
    font-weight: 700;
}


/* footer */


.gray-btn {
    width: 180px;
    height: 62px;
    border-radius: 10px;
    background: #E2E2E2;
    color: #BABABA;
    text-align: center;
    justify-content: center;
}

.blue-btn {
    width: 180px;
    height: 62px;
    border-radius: 10px;
    background: #469BFF;
    color: #FFFFFF;
    text-align: center;

}

.click-text {
    color: #469BFF;
    font-weight: 600;
}



/* box */


.checked::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('/img/check-circle.svg');
    position: absolute;
    right: -10px;
    top: -10px;
    background-repeat: no-repeat;

}

.close::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('/img/close-circle.svg');
    position: absolute;
    right: -10px;
    top: -10px;
    background-repeat: no-repeat;

}

.close2::after {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('/img/close-circle2.svg');
    position: absolute;
    right: -10px;
    top: -10px;
    background-repeat: no-repeat;

}

.plus-icon::after {
    content: '';
    width: 36px;
    height: 36px;
    background-image: url('/img/plus-icon.svg');
    position: absolute;
    background-repeat: no-repeat;

}


.sdw {
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
}

.box {
    background: #ffffff;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.g-box {
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background: #F5F5F5;
    box-sizing: border-box;
    position: relative;
}


.select-box {
    border-radius: 10px;
    border: 1px solid #469BFF;
    background: #e1eeff;
    position: relative;

}

.plus-box {
    border-radius: 10px;
    border: 1px dashed #31A9FF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    position: relative;
}


.del-box2 {
    background: #FFEBE6;
    border: 1px solid #FF8946;
    border-radius: 10px;
    position: relative;

}

.plus-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    border: 1px dashed #31A9FF;
    position: relative;

}

.footer-box {
    border-radius: 10px;
    background: #EEE;
    position: relative;
}

.footer-box2 {
    border-radius: 10px;
    background: #469BFF;
    position: relative;
}

.menu-icon {
    width: 66px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #DCDCDC;
    background: #FFF;
    position: relative;
}

/* footer */

footer {
    background-color: #fff;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.footer-btn {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin: 30px 63px;
}

.footer-btn div {
    width: 180px;
    height: 62px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}