.sec4-header {
    padding-top: 50px;
    font-size: 24px;
}

.sec4-header p {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 45px;
    font-size: 24px;

}

.sec4-choice {
    display: flex;
    gap: 47px;
    margin-bottom: 34px;
}


.sec4-grid {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(3, 1fr);
}


.sec4-grid>.tag-item {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.sec4-tag {
    margin-top: 37px;
}

.sec4-tag p {
    text-align-last: left;
    margin-bottom: 20px;
}