.sec2 .header>p {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 45px;
    font-size: 24px;

}

.sec2-choice {
    display: flex;
    gap: 47px;
    margin-bottom: 34px;
}


.sec2-search {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    & p {
        font-size: var(--t3);
        font-weight: 700;
        color: var(--main-color);
    }
}

.sec2-wrap {
    display: flex;
    flex-direction: column;
    gap: 37px;
    text-align: left;
}

.sec2 .item>p {
    margin-bottom: 20px;
}