.sec1-icon {
    background-image: url(/img/icon.svg);
    margin-bottom: 20px;
}

section {
    height: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: -150px;
}

.sec1-container {
    margin: auto;
}

.sec1-header {
    padding-top: 50px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.sec1-header p {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 24px;

}

.sec1-header div {
    width: 26px;
    height: 26px;
    background-image: url(/img/exit-btn.svg);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

.tag-item {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--t4);
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    position: relative;

}


.tag-item>div span {
    width: 24px;
    height: 5px;
}


.tag {
    margin-top: 42px;
}


.taste-btn {
    display: flex;
    gap: 18px;
    justify-content: space-around;

}


.footer-btn p {
    display: flex;
    align-items: center;
    justify-content: center;

}