.recom-page .header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    &>p {
        line-height: 22px;
        text-align: left;
        margin-bottom: 40px;
        font-size: var(--header);
    }
}


.recom-page .box {
    height: 220px;
}


.recom-page .container>.box {
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 50px;
}





.recom-page .item {
    width: 684px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.prod-wrap {
    width: 156px;
    height: 224px;
    overflow: hidden;
}


.prod-select {
    height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    margin: -1px;

}

.prod-name {
    margin: 11px 0 0 0;
    font-size: var(--t4);
}

.arrow {
    width: 180px;
    height: 20px;
    background-image: url(/img/long-arrow.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.center .box {
    margin-top: 24px;
    line-height: 40px;
}

.center div:last-of-type {
    width: 205px;
    height: 40px;
}