.sec1-icon {
    background-image: url(/img/icon.svg);
    margin-bottom: 20px;
}

section {
    height: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: -150px;
}

.sec1-container {
    margin: auto;
}

.sec1-header {
    padding-top: 50px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}


.sec1-header p {
    line-height: 22px;
    text-align: left;
    margin-bottom: 40px;
    font-size: var(--header);

}

.sec1-header div {
    width: 26px;
    height: 26px;
    background-image: url(/img/exit-btn.svg);
}

.recom-item {
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 50px;

}

.item-content {
    width: 684px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left,
.right {
    width: 165px;
    height: 210px;
}


.left .img,
.right .img {
    height: 156px;
    margin-bottom: 14px;
}

.item-img {
    height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left p:first-of-type,
.right p:first-of-type {
    margin: 12px 0 2px 0;
}

.arrow {
    width: 180px;
    height: 20px;
    background-image: url(/img/long-arrow.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.center .box {
    margin-top: 24px;
    line-height: 40px;
}

.center div:last-of-type {
    width: 205px;
    height: 40px;
}


.footer-btn {
    display: flex;
    justify-content: space-between;
}


.footer-btn div {
    width: 180px;
    height: 62px;
    border-radius: 10px;
    right: 0;
}

.footer-btn p {
    display: flex;
    justify-content: center;

}