.recom-page .header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    &>p {
        line-height: 22px;
        text-align: left;
        margin-bottom: 40px;
        font-size: var(--header);
    }
}

.recom-page .box {
    height: 220px;
}

.recom-page .container>.box {
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 50px;
}


.recom-page .item {
    width: 684px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.prod-wrap>div:first-of-type {
    width: 156px;
    height: 156px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow {
    width: 180px;
    height: 20px;
    background-image: url(/img/long-arrow.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.center .box {
    width: 205px;
    height: 40px;
    margin-top: 24px;
    line-height: 40px;
}


.text-box {
    margin: 10px auto;
    font-size: var(--t4);
}