/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

hr {
    border: none;
    margin: 0;
    height: 1px;
    background-color: #CFCFCF;

}