.sec1-icon {
    background-image: url(/img/icon.svg);
    margin-bottom: 20px;
}

section {
    height: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: -150px;
}


.sec1-container {
    margin: auto;
}

.sec1-header {
    padding-top: 50px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.sec1-header p {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 40px;
    font-size: 24px;

}


.sec1-header div {
    width: 26px;
    height: 26px;
    background-image: url(/img/exit-btn.svg);
}

.sec1-choice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;

}

.sec1-choice div {
    font-size: var(--t3);
}

.sec1-search {
    display: flex;
    justify-content: end;
    gap: 16px;
}


.search-bar {
    width: 262px;
    height: 41px;
    border-radius: 50px;
    border: 1px solid #DCDCDC;
    background: #F5F5F5;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 10px;
}

.search-bar p {
    font-size: 14px;
    color: #A7A7A7;
}


.search-btn {
    width: 54px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    background: #BEBEBE;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-sizing: border-box;

}

.search-btn p {
    font-size: 14px;
    font-weight: 500;
}

.search-icon {
    width: 16px;
    height: 16px;
    background-image: url(/img/search-icon.svg);
    background-repeat: no-repeat;
}


.product {
    margin-top: 42px;
}

.prod-wrap p {
    font-size: var(--t4);
}

.prod-container>div {
    width: 166px;
    height: 224px;
}

.prod-select {
    height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1px;
}

.prod-name {
    margin: 11px 0 0 0;
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 18px;
    grid-row-gap: 40px;
}


.item>div span {
    width: 24px;
    height: 5px;
}

.footer-btn {
    display: flex;
    justify-content: space-between;
}


.footer-btn div {
    width: 180px;
    height: 62px;
    border-radius: 10px;
    right: 0;
}

.footer-btn p {
    display: flex;
    justify-content: center;

}