.sec1-icon {
    background-image: url(/img/icon.svg);
    margin-bottom: 20px;
}

section {
    height: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: -150px;
}

.sec1-container {
    margin: auto;

}

.sec1-header {
    padding-top: 72px;
}


.sec1-icon {
    width: 20px;
    height: 16px;
    background-image: url(/img/icon.svg);
    background-repeat: no-repeat;
    display: inline-block;

}

.sec1-container h2 {
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 44px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.item {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    background: #F0F0F0;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    color: #8D8D8D;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    position: relative;

}


.item>div span {
    width: 24px;
    height: 5px;
}

.item-plus {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    border: 1px dashed #A4A4A4;
    background: #F0F0F0;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    color: #8D8D8D;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.item-plus div svg {
    width: 36px;
    height: 36px;
    flex-shrink: 0;

}



.item div::before {
    content: '';
    position: absolute;
    bottom: 55px;
    left: 40%;
    width: 30px;
    border-bottom: 2px solid #469BFF;
    border-radius: 10px;
}


footer {
    background-color: #fff;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 0px;
}

.footer-btn {
    position: relative;
    display: flex;
    justify-content: right;
    gap: 20px;
    margin: 30px 63px;
}

.footer-btn div {
    width: 180px;
    height: 62px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    justify-content: center;
}