.sec1-icon {
    background-image: url(/img/icon.svg);
    margin-bottom: 20px;
}

section {
    height: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: -150px;
}

.sec1-container {
    margin: auto;

}

.sec1-header {
    display: flex;
    padding-top: 54px;
    gap: 17px;
}


.sec1-icon {
    width: 20px;
    height: 16px;
    background-image: url(/img/icon.svg);
    background-repeat: no-repeat;
    display: inline-block;

}

.sec1-container h2 {
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 37px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.item {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    color: #434343;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    position: relative;

}


.item>div span {
    width: 24px;
    height: 5px;
}

.item-plus {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    border: 1px dashed #31A9FF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.06);
    color: #8D8D8D;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.item-plus div svg {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    color: #65BFFF;
}


