.sec1-icon {
    width: 20px;
    height: 16px;
    background-image: url(/img/icon.svg);
    background-repeat: no-repeat;
    display: inline-block;
}

.sec1 .header {
    display: flex;
    margin-bottom: 35px;
    gap: 17px;
}

.sec1 .grid {
    grid-template-columns: repeat(4, 1fr);

    &>div {
        height: 150px;

        &>div {
            font-size: var(--header);
        }
    }
}